<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav mode="side" opened class="sidenav"> -->
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-toolbar color="primary">gestion des achat</mat-toolbar>
      <mat-nav-list class="p-4">
        <a mat-list-item routerLink="/fournisseur">
         <mat-icon matListIcon>store</mat-icon>
          <span class="nav-text mx-2">fournisseur</span>
        </a>
    
        <a mat-list-item routerLink="/achat">
         <mat-icon matListIcon>shopping_cart</mat-icon>
          <span class="nav-text mx-2">achat</span>
        </a>
    
        <a mat-list-item routerLink="/history">
           <mat-icon matListIcon>history</mat-icon>
          <span class="nav-text mx-2">historique achats</span>
        </a>

          <a mat-list-item routerLink="/comparaison-offres">
            <mat-icon matListIcon>compare</mat-icon>
          <span class="nav-text mx-2">comparition</span>
        </a>
       

    
        
      </mat-nav-list>
    </mat-sidenav>
    
    

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
